<DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HTML from nodejs</title>
    <style>
        body{background: skyblue; font-family: Verdana, Geneva, Tahoma, sans-serif; color: #fff; padding: 30px}
        h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center}
        p{font-size: 16px; text-align: center}
    </style>
</head>
<body>
    <% include partials/nav.ejs %>
    <h1>Welcome to the most awesome website of PTANX</h1>
    <p>This is contact web page</p>
</body>
</html>